{% extends "dash_layout.html" %}
<title>
    {% block title %}
    🚗 Park-Karo! - ADMIN
    {% endblock %}
</title>
{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card shadow p-4 w-100" style="max-width: 420px;">
        <h3 class="h2 mb-3 fw-normal text-center">Edit Parking Lot</h3>
        <form method="POST">
            <div class="form-floating">
            <input type="name" class="form-control" id="floatingName" name="name" placeholder="Prime Location Name" value="{{ lot.name }}" required>
            <label for="floatingName">Prime Location Name</label>
            </div>
            <div class="form-floating">
            <input type="text" class="form-control" id="floatingAddress" name="address" placeholder="Address" value="{{ lot.address }}" required>
            <label for="floatingAddress">Address</label>
            </div>
            <div class="form-floating">
            <input type="text" class="form-control" id="floatingPincode" name="pincode" placeholder="Pincode" value="{{ lot.pincode }}" required>
            <label for="floatingPincode">Pincode</label>
            </div>
            <div class="input-group">
            <span class="input-group-text">$</span>
            <div class="form-floating flex-grow-1">
            <input type="number" class="form-control" id="floatingPrice" name="price" placeholder="Price" min="0.0" value="{{ lot.price_per_hour }}" required>
            <label for="floatingPrice">Price(per hour)</label>
            </div>
            </div>
            <div class="form-floating">
            <input type="text" class="form-control" id="floatingName" name="max" placeholder="Maximum Spots" value="{{ lot.total_spots }}" required>
            <label for="floatingName">Maximum Spots</label>
            </div>
            

        <div class="row mt-3">
            <div class="col">
                <button class="w-100 btn btn-warning" type="submit">Save Changes</button>
            </div>
            <div class="col">
                 <a href="{{ url_for('auth.admin_dashboard') }}" class="w-100 btn btn-danger" type="button">Cancel</a>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}

{% block styles %}
<style>
  body {
    background-color: #ebebeb;
  }
  .card {
    border-radius: 1rem;
  }
</style>
{% endblock %}