{% extends "layout.html" %}
{% block content %}
<div class="text-center">
    <h1 class="mb-4">🚗 Park-Karo!</h1>
    <p class="mb-4 lead"> <em>"Ab wait na karo, bas Park Karo!"</em></p>
    <a href="/login" class="btn btn-primary btn-warning w-100 mb-2">Login</a>
    <a href="/register" class="btn btn-primary btn-warning w-100">Register</a>
    <p class="mt-5 mb-0 text-muted"><small>By Vighnesh Sajeev</small></p>
</div>
{% endblock %}

{% block styles %}
<style>
  body {
    background-color: #ebebeb;
  }
  .card {
    border-radius: 1rem;
  }
</style>
{% endblock %}